<section class="education section" id="educacion">
    <h2 class="section_title">Educación</h2>
    <span class="section_subtitle">Mis estudios <i class="uil uil-graduation-cap education_icon"></i></span>

    <div>
        <button type="button" class="newedu-btn" routerLink="/nuevaedu/" *ngIf="isLogged">
            Nueva educación
        </button>
    </div>

    <div class="education_container container">
        <div class="education_tabs">

            <div class="education_sections">
                <!--================== QUALIFICATION CONTENT 1 ===============-->
                <div *ngFor="let Educacion of educacion" class="education_content">
                    <!--================== QUALIFICATION 1 ===============-->
                    <div  class="education_data"> 

                        <div>
                            <span class="education_rounder"></span>
                            <span class="education_line"></span>
                        </div>
                        <div class="educacion_item">
                            
                            <h3 class="education_title"> {{Educacion.nombreE}}</h3>
                            <span class="education_subtitle"> {{Educacion.descripcionE}}</span>
                            <div class="education_calendar">
                                <i class="uil uil-calendar-alt"></i>
                                 {{Educacion.fechaEI | date}} - {{Educacion.fechaEF | date}}
                            </div>
                            
                            <button class="btn btn-edit" *ngIf="isLogged" routerLink="/editedu/{{Educacion.id}}"><i class="uil uil-edit nav-icon"></i> Editar</button>
        
                            <button class="btn btn-edit" *ngIf="isLogged" (click)="delete(Educacion.id)"><i class="uil uil-multiply nav-icon"></i> Borrar</button>
                        </div>
                        
                        
   
                    </div>
   
                </div>
            </div>

        </div>
    </div>
 
</section> 