.education_tabs{
    display: flex;
    justify-content: flex;
    margin-bottom: var(--mb-2);
}


.education_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.education_data{
    display:grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.5rem;
}

.education_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    
}

.education_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.education_calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.education_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.education_line{
    display:block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

