<section class="editexp-form" *ngIf="expLab">
    <div class="exp-content">

        <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
    
      <div class="editexp-box">
        <h1 class="editexp_title">Editar experiencia</h1>
        <h3 class="editexp_subtitle">Ingresar cambios</h3>
      
  
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> 
        <div class="input-box">
            <label for="nombreE"> Nombre del puesto</label>
            <input type="text" class="input-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
        </div>

        <div class="input-box">
          <label for="nombreEmp"> Nombre de la empresa</label>
          <input type="text" class="input-control" id="nombreEmp" name="nombreEmp" [(ngModel)]="expLab.nombreEmp" required>
      </div>
  
        <div class="input-box">
            <label for="descripcionE"> Descripción de la tarea</label>
            <textarea type="text" class="input-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required></textarea>
        </div>
  
        
          <button
            type="button"
            
            class="btn btn-volver">
            Volver
          </button>
  
          <button type="submit" class="btn btn-editexp">
            Actualizar
          </button>
        
      </form>
      </div>
    </div>
  </section>