<section class="experiencia section" id="experiencia">
    <h2 class="section_title"> Experiencia Laboral</h2>
    <span class="section_subtitle">Historial laboral 
        <i class="uil uil-briefcase-alt experiencia_icon"></i>
    </span>

    <div class="exp_container container">
        <div class="experiencia-item">
            <div class="exp-icon">            
                <i class="uil uil-briefcase-alt"></i>   
            </div>
            <p class="exp-duracion"> Abr 2022 - Actualidad</p>
            <h3 class="exp_title"> Asistente de Logistica<span> - Codimat S.A</span></h3>
            
            <p>
                Gestión y control de stock y almacen. Recepción, identificación, 
                despacho y control de la calidad de los productos.
            </p>
        </div> 

        <div class="experiencia-item">
            <div class="exp-icon">            
                <i class="uil uil-briefcase-alt"></i>
            </div>
            <p class="exp-duracion"> 2020 - Actualidad</p>
            <h3 class="exp_title"> Inversor en Mercado de Capitales<span> - Independiente</span></h3>
            <p>
                Gestión de cartera propia de activos financieros.
            </p>
        </div> 

        <div class="experiencia-item">
            <div class="exp-icon">            
                <i class="uil uil-briefcase-alt"></i>
            </div>
            <p class="exp-duracion"> 2020 - 2021</p>
            <h3 class="exp_title"> Asesor Financiero<span> - Clipper Life S.A</span></h3>
            <p>
                Contactar a clientes y asesorarlos sobre los distintos intrumentos de 
                ahorro, inversión y seguros de vida brindados por Zurich International.
            </p>
        </div> 
        

        <div class="experiencia-item">
            <div class="exp-icon">            
                <i class="uil uil-briefcase-alt"></i>
            </div>
            <p class="exp-duracion"> Julio 2021 - Actualidad</p>
            <h3 class="exp_title"> Integrante de Saavedra Turismo<span> - Saavedra Turismo</span></h3>
            <p>
                Gestión de redes sociales de la organización.
                Contactar e incentivar a los grupos de interés para fomentar la capacidad emprendora de actividades turisticas.
            </p>
        </div> 
    </div>
</section>
