<section class="experiencia section" id="experiencia">
    <h2 class="section_title"> Experiencia Laboral</h2>
    <span class="section_subtitle">Historial laboral 
        <i class="uil uil-briefcase-alt experiencia_icon"></i>
    </span>

    <div>
        <button type="button" class="newexp-btn" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva experiencia
        </button>
    </div>

    <div class="exp_container container">
        <div class="experiencia-item" *ngFor="let Experiencia of expe">
            <div class="exp-icon">            
                <i class="uil uil-briefcase-alt"></i>   
            </div>
            <p class="exp-duracion"> Abr 2022 - Actualidad</p>
            <h3 class="exp_title"> {{Experiencia.nombreE}} <span> {{Experiencia.nombreEmp}}</span></h3>
            
            <p>
                {{Experiencia.descripcionE}}
            </p>
            
            <button class="btn btn-edit" *ngIf="isLogged" routerLink="/editexp/{{Experiencia.id}}"><i class="uil uil-edit nav-icon"></i> Editar</button>
        
            <button class="btn btn-edit" *ngIf="isLogged" (click)="delete(Experiencia.id)"><i class="uil uil-multiply nav-icon"></i> Borrar</button>
        
        </div> 

 