
    <section class="home section" id="home">
        <div class="home_container container grid">
            <div class="home_content grid">
                <div class="home_social">
                    <a href="https://www.linkedin.com/in/neri-axel-barbona/" target="_blank" class="home_social-icon">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>

                    <a href="https://github.com/neriaxel" target="_blank" class="home_social-icon">
                        <i class="uil uil-github-alt"></i>
                    </a>
                </div>
                 
                <div class="home_img">
                    <div class="home_blob">
                        <img class="home_blob-img" src="assets/image/fotoDePerfil2.png">
                    </div>
                </div>
                <div class="home_data"> 
                    <h1 class="home_title"> Hola, soy {{persona.nombre}} {{persona.apellido}}</h1>
                    <h3 class="home_subtitle">Full Stack Developer</h3>
                    <p class="home_description"> Estoy dando dando mis primeros pasos en programación
                        y en la siguiente web podrán ver mis estudios, experiencias y proyectos.</p>
                    <a download="" href="assets/pdf/Axel.Barbona-cv.pdf" class="button button--flex">
                    Descargar CV  <i class="uil uil-cloud-download button_icon"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    
</section>
