
    <section class="home section" id="home">
        <div class="home_container container grid">
            <div class="home_content grid">
                <div class="home_social">
                    <a href="https://www.linkedin.com/in/neri-axel-barbona/" target="_blank" class="home_social-icon">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>

                    <a href="https://github.com/neriaxel" target="_blank" class="home_social-icon">
                        <i class="uil uil-github-alt"></i>
                    </a>
                </div>
                 
                <div class="home_img">
                    <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M65.4,-36.8C79.7,-12.9,82.9,18.4,70.1,36.6C57.3,54.8,28.7,59.9,0,59.9C-28.8,59.9,-57.5,54.9,-71.8,35.8C-86.1,16.7,
                            -85.9,-16.4,-71.5,-40.2C-57.1,-64.1,-28.6,-78.7,-1.5,-77.8C25.5,-77,51.1,-60.6,65.4,-36.8Z" transform="translate(100 100)" />

                        </mask>
                        <g mask="url(mask0)">
                            <path d="M65.4,-36.8C79.7,-12.9,82.9,18.4,70.1,36.6C57.3,54.8,28.7,59.9,0,59.9C-28.8,59.9,-57.5,54.9,-71.8,35.8C-86.1,16.7,
                            -85.9,-16.4,-71.5,-40.2C-57.1,-64.1,-28.6,-78.7,-1.5,-77.8C25.5,-77,51.1,-60.6,65.4,-36.8Z" transform="translate(100 100)" />

                            <image class="home_blob-img" x="30" y="50" xlink:href="assets/image/logoap.png"/>
                        </g>
                    </svg>
                </div>
                <div class="home_data"> 
                    <h1 class="home_title"> Hola, soy Axel</h1>
                    <h3 class="home_subtitle">Full Stack Developer</h3>
                    <p class="home_description"> Estoy dando dando mis primeros pasos en programación
                        y en la siguiente web podrán ver mis proyectos.</p>
                    <a download="" href="assets/pdf/Axel.Barbona-cv.pdf" class="button button--flex">
                    Descargar CV  <i class="uil uil-cloud-download button_icon"></i>
                    </a>
                    
                </div>
            </div>

            <div class="home_scroll">
                <a href="#acerca.mi" class="home_scroll-button button--flex">
                    <i class="uil uil-mouse-alt home_scroll-mouse"></i>
                    <span class="home_scroll-name"> Scroll down</span>
                    <i class="uil uil-arrow-down home_scroll-arrow"></i>
                </a>
            </div>
        </div>
    
</section>
