.portfolio_container{
    overflow: initial;   
}

.portfolios{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    padding-bottom: 3rem;
}

.portfolio_content{
    padding: 0 1.5rem;
}

#portfolio_img{
    width: 265px;
    border-radius: .5rem;
    justify-self:center;
}

.portfolio_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio_description{
    margin-bottom: var(--mb-0-75);
}

.porfolio_button:hover .button_icon{
    transform: translateX(0.25rem);
}

@media screen and (max-width: 350px){
    .portfolios{
        width: 380px;
    }
}

@media  screen and (min-width: 568px){
    .portfolio_content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 780px){
    #portfolio_img{
        width: 400px;
    }

    .portfolio_content{
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .portfolio_content{
        column-gap: 5rem;
    }

    .portfolios{
        width: 1000px;
    }
}