<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="uil uil-user nav_icon"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog"><!-- form cont-->
      
      <div class="modal-content"> <!--box-->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>          
        </div>
        <div class="modal-body">
          <form action="">
            <div class="input-box">
                <input type="text" placeholder="Usuario" class="input-control">
            </div>

            <div class="input-box">
                <input type="password" placeholder="Contraseña" class="input-control">
                <div class="input-link">
                    <a href="#" class="gradient-text">¿Has olvidado la contraseña?</a>
                </div>
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary button">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </div>

