<section class="about section" id="about">
    <h2 class="section_title">Acerca de mí</h2>
    <span class="section_subtitle">Mi introducción</span>

    <div class="about_container container grid">
        <img src="assets/image/about.jpg" alt="" class="about_img">

        <div class="about_data">
            <p class="about_description">
                Soy estudiante de Licenciatura en Administración en la Universidad Nacional del Sur y 
                Desarrollador Full Stack Jr. Actualmente me encuentro trabajando en Codimat, realizando tareas de gestión de stock, almacen y deposito.
                 Por otra parte, realice cursos de Testing QA y Data Analytics en Coderhouse, EdX, Linkedin y Udemy. 
            </p>

            <div class="about_info">
                <div>
                    <span class="about_info-title">+01</span>
                    <span class="about_info-name">Años <br> experiencia</span>
                </div>

                <div>
                    <span class="about_info-title">+04</span>
                    <span class="about_info-name">Proyectos <br> completados</span>
                </div>
            </div>

            <div class="about_buttons">
                <a download="" href="assets/pdf/Axel.Barbona-cv.pdf" class="button button--flex">
                    Descargar CV<i class="uil uil-download-alt b button_icon"></i>
                </a>
            </div>
        </div>

    </div>
</section>